*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .navbar{
    display: flex;
    list-style: none;
    background-color: purple;
    padding: 20px 10px;
    margin-top: -5px;
}
nav .navbar li{
    flex-grow: 1;
    margin-left: 40px;
}

.navbar li a{
    flex-grow: 1;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    width: 20%;
    padding: 10px 15px;
}
.navbar li a:hover{
    background-color: rgb(235, 102, 235);
}
.fixedNav nav {
    position: fixed;
    width: 100%;
    top: 0;

}
#content{
    border: 1px solid grey;
    width: 70%;
    margin: 30px auto;
    color: white;
    background-color: olivedrab;
}
#content h1{
    padding: 10px 300px;
}
#content p{
    padding:20px 10px;
}